<head>
  <link href='http://fonts.googleapis.com/css?family=Abel|Arvo|Cookie|Lobster+Two' rel='stylesheet' type='text/css'>
  <link href="stylesheets/main.css" rel="stylesheet">
</head>
<body>
  <header class="heading">
    <span class="prefix-title">Your</span> Rotten Tomatoes
    <div>
      <a href="/login" class="link">Login</a>
      <span class="or">or</span>
      <a href="/register" class="link">Sign up</a>
    </div>
  </header>
  <main>
    <section class="photos">
      <img src="http://ecx.images-amazon.com/images/I/41brY7OjmwL._SY355_.jpg" alt="gone with the wind">
      <img src="http://ecx.images-amazon.com/images/I/51Cw9J7r1pL.jpg" alt="the wizard of oz">
      <img src="http://ecx.images-amazon.com/images/I/51VSX1b53oL._SY355_.jpg" alt="ferris bueller">
      <img src="http://ecx.images-amazon.com/images/I/41Eb7WxmYNL._SY355_.jpg" alt="her">
    </section>
  </main>
  <footer class="footer">
    Built with &hearts; by Pamela
  </footer>
</body>
