<head>
  <link href='http://fonts.googleapis.com/css?family=Abel|Arvo|Cookie|Lobster+Two' rel='stylesheet' type='text/css'>
  <link href="stylesheets/main.css" rel="stylesheet">
</head>
<body>
  <header class="heading">
    <span class="prefix-title">Your</span> Rotten Tomatoes
    <div>
      <a href="/login" class="link">Login</a>
      <span class="or">or</span>
      <a href="/register" class="link">Sign up</a>
    </div>
  </header>
  <main>
    <section class="photos">
      <img src="images/american_beauty.jpg" alt="american beauty">
      <img src="images/ferris_bueller.jpg" alt="ferris bueller">
      <img src="images/her.jpg" alt="her">
      <img src="images/requiem-for-a-dream.jpg" alt="requiem for a dream">

      <img src="images/ferris_bueller.jpg" alt="ferris bueller">
      <img src="images/her.jpg" alt="her">
      <img src="images/requiem-for-a-dream.jpg" alt="requiem for a dream">
      <img src="images/american_beauty.jpg" alt="american beauty">

    </section>
  </main>
  <footer class="footer">
    Built with &hearts; by Pamela
  </footer>
</body>
