<head>
  <title><%+ name %>'s Movies!</title>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Abel|Arvo|Cookie|Lobster+Two' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/main.css" rel="stylesheet">
  </head>
</head>
<body>
  <header class="heading">
    <span class="prefix-title"><%= name %>'s</span> Rotten Tomatoes
    <a href="/logout" class="link">Logout</a>
  </header>
  <div class="user-info">
    <%- name %>
    <%- email %>
  </div>
</body>
