<head>
  <title><%+ name %>'s Movies!</title>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Abel|Arvo|Cookie|Lobster+Two' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/main.css" rel="stylesheet">
  </head>
</head>
<body>
  <header class="heading">
    <span class="prefix-title"><%= name %>'s</span> Rotten Tomatoes
  </header>
  <a href="/logout" class="show-link">Logout</a>
  <div class="logged-in-user"><%- email %></div>
</body>
